	<div class="container">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="panel panel-default">
					<h4>Login to BabyFace</h4>
					<div class="input-group" id="log">
  						<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="">
  						<input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="">
						<button class="btn btn-default" type="submit">Log In</button>
						<a href="signup">Not a member of BabyFace? Sign Up Here!</a>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</div>
		</div>
	</div>