.jumbotron {
	/*background-color: #faebd7;*/
	background-color: #FEFDB0;
}

body{
	background-image: url(/images/clouds.png);
}

h3{
	text-align: center;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 35px;
	color: #6B6565;
	margin-top: 0;
    margin-left: 27%;

}


h1{
	margin-left: 8%; 
}

input, button{
	margin: 10px !important;
}

h4{
	font-family: 'Love Ya Like A Sister', cursive;
	margin-left: 10px;
	color: #6B6565;
}

.panel{
	border-style: solid;
	border-width: 2px;
	border-color: #B4B1B1;

}



